<h1>Editing squad</h1>

<%= form_for(@squad, :url => admin_squad_url(@squad), :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', @squad %> |
<%= link_to 'Back', admin_squads_path %>
