body{
	background-color: black;
	color: white;
}

a{
	text-decoration: none;
	color: blue;
}

a:hover{
	text-decoration: underline;
}

div{
	padding: 10px;
}

#container{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.box{
	width: 800px;
	min-height: 80px;
	border: 1px solid red;
}

.menu{
	font-size: 30px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*TODO: move to another css file*/
.types{
	margin-bottom: 10px;
	width: 780px;
}
.types .type{
	display: inline-block;
}

div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  color: black;
  border:1px solid #888;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:20px;
  cursor:pointer;
}