<div>
  <h1>Welcome to the Humans Vz Zombies Game Site!</h1>
</div>

<div>
  If you are intending to register and play Humans vs. Zombies (HvZ), then you are at the right place. To register, please click the blue lettering above that reads “Register”. Remember, you must have a umass.edu e-mail account to register to play. 
  But before you register, make sure to read the rules in the blue lettering reading “Rules” above. Even if you have played before, please re-read the rules as there have been some pretty big changes since last semester. Occasionally, the rules do change during the game. Check back on the rules regularly during the game for new mechanics at <a href="http://massgames.org/blog/tag/rules/">http://massgames.org/blog/tag/rules/</a> 
  
</div>
<div>
  <h3>A few changes</h3>
  -The forums are back this semester!  To use them, register an account at <a href="http://massgames.org">http://massgames.org</a> and then login.  When logged in, click on the Groups tab; then click on Humans vs. Zombies; then click the blue Forum tab in the middle of the page.<br /><br />
  - The zombie goal is solely to tag all human players.  Zombies will be rewarded as various percentages of the Human population is zombified.<br /><br />

  -Furthermore, both humans and zombies will receive the same mission briefing that will be posted publically on the front page of the <a href="http://massgames.org">http://massgames.org</a>  site 1-3 hours before the mission.  There will also be a tab on the <a href="http://massgames.org">http://massgames.org</a> site for mission times during the game.<br /><br />

  -Vaccines will work differently this semester. There will be posts from administrators on the <a href="http://massgames.org">http://massgames.org</a>  site main page hinting at locations to participate in an encounter with them to then yield a possible vaccine or pseudo-bite reward. An encounterable administrator will be marked with a green armband.  The distribution of pseudo-bite to vaccines will be 2 pseudo-bites to every 1 vaccine.  Read the rules for pseudo-bite and vaccine mechanics.<br /><br />

  
</div>
<div>
  <h3>Additional Info</h3>
  <p>The status page will tell whether you are a human or a zombie. It will also tell you your history and other stats about the game such as how many humans, zombies and dead people there are. If you are a human, this is where you go to get your user number. If you are a zombie, this will display your expiration date. If you are an immortal zombie, you have no expiration date. </p>
  <p>Clicking the the Users page above will give you the status of every user in every living area. The users are color coded by whether they are dead, a zombie or human.</p> 
  <p>If you are a human and you wish to become a zombie without going through the effort of being bit, there is a self bite link above. Keep in mind if you self bite, there is no vaccinating yourself later. </p>
  <p>If you are a zombie, you can use the bites page to report bites. If you are an original zombie or a immortal zombie, this will just turn the human into a zombie. If you are not immortal, your starve timer will be increased, thus prolonging your life. Additional info can be found from the "Bites" page. </p>
  <p>If you are a vaccinatable zombie, you will notice the "Vaccines" link above. If you have a vaccine code you can use this to turn yourself back into a human. You cannot use a vaccine if you are already dead. </p>

</div>