<%= auto_discovery_link_tag(:atom, "welcome/index.atom") %>
<%= link_to "Subscribe to our feed", 'welcome/index.atom'%>

<% for post in @posts %>
<div class='post'>
  <h3>Title: <%= post.title%></h3>
  <%= raw RedCloth.new(post.body).to_html%>
</div>
<hr />
<% end %>