<div>
  No Current Game<br /><br />
  
  <%= form_tag _show_games_url, :method => 'get' do %>
    Show players from previous game: <%= select_tag "id", options_from_collection_for_select(@games, "id", "game_name") %><br />
    <%= submit_tag 'View Game'%>
  <% end %>
</div>