Hello, you have not yet registered for the current game. Would you like to register now?
<div>
  <input type='button' value='yes' onclick='window.location = "<%= existing_user_registration_path %>"'/><input type='button' value='no' />
</div>