<table>
  <tr>
    <th>
      action
    </th>
    <th>
      when
    </th>
  </tr>
  <% for stat in @stats %>
  <%
    pitcher = h(User.find(stat.user_id).username) rescue "someone"
    catcher = h(User.find(stat.action_id).username) rescue "someone"
    action = stat.action_type.to_s
    output = ''
    case action
    when 'User'
      unless stat.action_id == stat.user_id
        output = "#{pitcher} bit #{catcher}."
      else
        output = "#{pitcher} bit themselves."
      end
    when 'PseudoBite'
      output = "#{pitcher} received a pseudo bite."
    when 'Vaccine'
      output = "#{pitcher} got vaccinated."
    when 'Share'
      output = "#{pitcher} shared a bite with #{catcher}"
    end
  %>
  <tr>
    <td><%= output %></td>
    <td><%= h(stat.created_at)%></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @stats %>