<table>
  <tr>
    <td>Human</td>
    <td>
      <div style="border: 1px solid red;height: 5px; width: 40px; background-color: blue;"></div>
    </td>
  </tr>
  <tr>
    <td>Zombie</td>
    <td>
      <div style="border: 1px solid red;height: 5px; width: 40px; background-color: red;"></div>
    </td>
  </tr>
  <tr>
    <td>Dead</td>
    <td>
      <div style="border: 1px solid red;height: 5px; width: 40px; background-color: green;"></div>
    </td>
  </tr>
</table>